@using easy_core
@using System.ComponentModel.DataAnnotations

@page "/inputSelectObject"
@inherits ComponentBase

<TitleBlock Title="Input Select Object Test" />

<div class="columns p-3">
	<div class="column is-4">

	</div>
	<div class="column is-8">
		<EditForm Model="InputModel">
			<div class="field">
				<Label For="() => InputModel.SelectedItem1" TooltipMode="TooltipDisplayMode" />
				<div class="control has-icons-left is-expanded">
					<InputSelectObject class="is-fullwidth" @bind-Value="InputModel.SelectedItem1" DisplayValue='x => x.Name' Items="AllItems" IsNullable=false />
				</div>
			</div>

			<div class="field">
				<Label For="() => InputModel.SelectedItem2" TooltipMode="TooltipDisplayMode" />
				<div class="control has-icons-left is-expanded">
					<InputSelectObject class="is-fullwidth" @bind-Value="InputModel.SelectedItem2" DisplayValue='x => x?.Name' Items="GetObjects()" />
				</div>
			</div>

			<div class="field">
				<Label For="() => InputModel.EnumSelectTest" TooltipMode="TooltipDisplayMode" />
				<div class="control has-icons-left is-expanded">
					<InputSelectObject class="is-fullwidth" @bind-Value="InputModel.EnumSelectTest" DisplayValue='x => x.GetValueDisplayName()' Items="Enum.GetValues<TestEnum>().ToList()" IsNullable="false" />
				</div>
			</div>

			<div class="field">
				<Label For="() => InputModel.SelectedItems" TooltipMode="TooltipDisplayMode" />
				<div class="control is-expanded">
					<InputSelectMultipleObject class="is-fullwidth" @bind-Value="InputModel.SelectedItems" DisplayValue='x => x.Name' Items="AllItems" />
				</div>
			</div>
		</EditForm>
	</div>
</div>
