@using System.ComponentModel.DataAnnotations

@page "/inputPlaceholder"
@inherits ComponentBase

<TitleBlock Title="Input Placeholder Test" />

<div class="is-displayed-print">
	<input placeholder="Hello I am a placeholder"/>
</div>

